.root {
    .type-field {
        display: flex;
        flex-direction: column;

        :global(.bp3-switch) {
            margin: var(--form-interrow-margin) 0 !important;
            padding-left: 38px !important;

            :global(.bp3-control-indicator) {
                margin-right: 10px !important;
                margin-left: -38px !important;
            }
        }
    }

    .parameters {
        :global(.bp3-popover-target) {
            width: 100%;

            button {
                width: 100%;
                justify-content: space-between;
            }
        }
    }
}

