.root {

    :global .ui.container {

    }
}

.specific-sim {
    :global .ui.container {
        display:flex;
        flex-direction:row;
        overflow:hidden;

        > :first-child {
            flex: 0 0 auto;
            margin:  .5em .5em auto .5em;
            max-width:40%;
        }
    }


    .associated-queries {
        background: white;

        margin: .5em .5em .5em 0 !important;

        flex: 1;
        display: flex;
        flex-direction: column;
        border: 1px solid black;

        &, :global(.card) {
            border-radius: .5em;
        }

        .title {
            font-size: 18px;
            padding: .5em;
        }
    }
}
