.root {
    display:flex;
    flex-direction: column;
    background:white;
}

.title {
    background:var(--theme-color-secondary);
    padding:30px 20px;
    flex-basis: 100%;
    font-weight: 900;
    color: #FFFFFF;
    font-size: 58px;
    margin: 0;
    letter-spacing: -1px;
    color:white;
    font-family: 'Lato', 'appleLogo', sans-serif;
}

.markdown {
    padding:1em;
    background:white;
    flex:1;

    color: #2C2D30;

    h1 {
        font-weight: 700;
        font-size: 22px;
        display: block;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid #E5E5E5;
    }

    h2 {
        font-weight: 700;
        font-size: 20px;
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    h3 {
        font-weight: 600;
        font-size: 16px;
        display: block;
        margin-bottom: 10px;
    }

    ul {
        padding-left: 30px;
        color: inherit;
        font-size:14px;

        > li {
            margin-bottom: .5em;
        }
    }
}

.build-date {
    margin: 0 14px;
    border-top: 1px solid #E5E5E5;
    padding: 10px 0 14px 0;
    font-style: italic;
    text-align: right;
}