node_modules
visual_regression/results
coverage
dist
*.log
*.orig
/julia-repos
/julia-install
dist/*.js.map

/PhantomJSErrorLog.txt
rethinkdb_dump_*
*.yarnclean
yarn.lock
*.DS_Store

/semantic
/dist

build/config/deps/*.json
npm-debug.log*
/var
/release