.page-transition-enter {
    transition: opacity .3s ease-in-out;
    opacity: 0;
    position: absolute;
}
.page-transition-enter.page-transition-enter-active {
    opacity: 1;
}
.page-transition-leave {
    transition: opacity .3s ease-in-out;
    opacity: 1;
    position: absolute;
}
.page-transition-leave.page-transition-leave-active {
    opacity: 0;
}

.cross-fade-leave {
    opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.cross-fade-enter {
    opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.cross-fade-height {
    transition: height .5s ease-in-out;
}
