:global {
        svg {
            .iconning{
                fill:rgb(80,145,205);
                stroke:rgb(0,0,0);
            }
            .iconning-fill{
                fill:rgb(80,145,205);
                stroke:rgb(80,145,205);
            }
            .iconning-stroke{
                fill:rgb(0,0,0);
                stroke:rgb(0,0,0);
            }
            .iconning-accent-0{
                fill:rgb(0,73,144);
                stroke:rgb(0,73,144);
            }
            .iconning-accent-1{
                fill:rgb(80,145,205);
                stroke:rgb(80,145,205);
            }
            .iconning-accent-2{
                fill:rgb(0,98,37);
                stroke:rgb(0,98,37);
            }
            .iconning-accent-3{
                fill:rgb(138,32,3);
                stroke:rgb(138,32,3);
            }
            .iconning-roulette-slot-red{
                fill:rgb(138,32,3);
                stroke:rgb(138,32,3);
            }
            .iconning-roulette-slot-black{
                fill:rgb(0,0,0);
                stroke:rgb(0,0,0);
            }
            .iconning-roulette-slot-green{
                fill:rgb(0,98,37);
                stroke:rgb(0,98,37);
            }
            .iconning-border{
                fill:rgb(220,220,220);
                stroke:rgb(220,220,220);
            }
            .iconning-correlation{
                    fill:rgb(0,98,37);
                    stroke:rgb(0,98,37);
            }
    }
}
