.button:global(.bp3-button) {
    width: 30px;
    min-width: 30px;
    min-height: 20px;
    padding: 0 0;

    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 -1px 0 rgba(16, 22, 26, 0.1) !important;

    :global i.icon {
        margin-right:0;
    }

/*    &:focus:not(:global(.bp3-active)) {
        background-color:white !important;
    }*/
}
