.root .body-grid {
    display: grid;
    grid-template-columns: max-content minmax(50px, 1fr);

    > *:not(hr) {
        padding: 2px 5px;
    }

    > hr {
        margin: 17px 0;
    }

    label {
        line-height: 30px;
    }

    .body-title {
        line-height: 30px;
        font-weight: bolder;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 10px;

        &:first-child{
            margin-top: 0;
        }
    }

    :global(.bp3-control-group) {
        justify-content: end;
    }

    .colspan {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}