:global(#bp3-tab-panel_ui-tabs_catalog) {
    overflow: auto;
}

.root {
    display:    flex;
    overflow:   hidden;
    flex:       0 1 auto;
}

.tags {
    display:        flex;
    flex-direction: column;
    overflow:       auto;
    background:     white;
    width:          100%;
}

.tag {
    vertical-align: middle;
    align-items:    center;
    display:        flex;
    border-radius:  4px;
    padding:        4px .5em;
    border-bottom:  2px solid #eee;
    flex:           0 0 auto;

    > :global(.bp3-icon):first-child {
        margin-right: 5px;
    }

    :global .ui.label {
        margin-right:.5em;
        cursor:default;
    }

    .tag-name {
        font-weight: bold;
        flex:        1;
    }
}

.catalog-fields {
    composes: tags;
}

.sortable-drag {
    border: 1px dashed black;
}

.tab-button-bar {
    position:   absolute;
    top:        5px;
    right:      0;
    background: transparent;
    width:      auto;
    border:     0;
}

.tag-properties {
    display: flex;
}

.distinctValues {
    padding:.5em;
    display:grid;
    grid-auto-flow: row;
    grid-gap:5px;
}