.pdf-report-root {
    .view-container {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .view-main-block {
        border: 1px solid #000000 !important;
    }
}