.root {
    position: relative;
    max-height: 300px;
    border-top: 1px solid black;
}

.float-menu {
    position: absolute;
    top: 0px;
    right: 0px;
}

.timestamp {
    padding: 5px;
    text-align: right;
    color: #808080;
}

.hide-toolbar {
    :global(.tox-editor-header) {
        display: none !important;
    }
}

.placeholder {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1.2em;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: rgba(34,47,62,.7);
}